:root {
  --main-color: #106466;
  --secondary-color: #C0CCCE;
  --accent-color: #7A7876;
  --second-accent-color: #F4E9D1;
  --font-style: "Palatino Linotype";
}

html, body {
  font-family: var(--font-style);
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
  position: relative;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

header {
  padding: 2rem;
  color: var(--secondary-color);
  display: flex;
  justify-content: space-between;
}

header h1 {
  margin: 0;
  font-size: 45px;
}

.nav-link {
  font-size: 25px;
  margin: 10px;
  text-decoration: none;
  color: var(--secondary-color);
  font-weight: bold;
  width: fit-content;
}

header .nav-link:hover {
  border-bottom: var(--accent-color) 4px solid;
  color: var(--secondary-color);
}

.active {
  color: var(--accent-color);
  border-bottom: var(--secondary-color) 4px solid;
}

.main {
  background-image: url('./assets/images/background.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

main {
  padding: 0 3rem 5rem 3rem;
  color: var(--accent-color);
  min-height: 100vh;
  margin-bottom: -50px;
}

.flex-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.modal-body {
 padding: 0;
}

.modal-container .container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl {
  padding-left: 0;
}

.modal-container {
  text-align: center;
}

.modal-container .container .row {
  min-height: 250px;
}

.modal-btn {
  position: absolute;
  bottom: 20px;
  width: 100%;
  height: 2.5rem;
  left: 0;
  background-color: var(--main-color);
  border: none;
  margin-top: 10px;
}

.modal-btn:hover {
  font-size: larger;
  background-color: var(--main-color);
  color: #fff;
}

.modal-link {
  position: relative;
  color: black;
  margin-top: 5rem;
  font-size: larger;
  width: 5rem;
  height: 2.5rem;
  margin-left: -30px;
  border-bottom: var(--main-color) solid 3px;
}

.modal-link:hover {
  color: var(--accent-color);
}

.modal-img {
  width: 100%;
  height: 100%;
  transition-duration: 1.2s;
  transform: scale(1);
  object-fit: contain;
}

.modal-desc {
  margin: 1rem;
  min-height: 350px;
}

.section-title {
  font-size: 52px;
  color: var(--secondary-color);
  font-weight: bold;
  text-align: center;
}

.section-about {
  margin: 0 5rem;
}

.profile {
  margin-top: 10vmin;
  height: 40vmin;
  left: 25%;
  position: relative;
  margin-bottom: 20vmin;
}

.bio {
  color: var(--second-accent-color);
  margin-top: 10vmin;
  font-size: large;
}

.contact-section {
  width: 50%;
  margin: 2rem auto;
  color: var(--accent-color);
}

.contact-section-info {
  margin: auto;
}

#contact-form {
  padding: 1rem;
  background-color: var(--secondary-color);
}

#contact-form label {
  font-weight: bold;
  font-size: 20px;
  color: var(--main-color);
}

#contact-form input, textarea {
  padding-top: 1rem;
  background: transparent;
  font-size: 15px;
  width: 100%;
  margin-top: 5px;
  color: var(--main-color);
  border: none;
  border-bottom: solid 1px var(--accent-color);
  margin-bottom: 15px;
}

#contact-form input:focus, textarea:focus {
  border: solid 1px var(--main-color);
  border-radius: 3px;
  outline-color: transparent;
  outline-style: none;
}

#contact-form button {
  width: 100%;
  text-align: center;
  padding: 10px;
  border-radius: 3px;
  background-color: var(--main-color);
  color: var(--secondary-color);
  font-family: var(--font-style);
  font-size: 20px;
  border: none;
  height: 6vmin;
  font-weight: bold;
}

#contact-form button:hover {
  font-size: larger;
}

#contact-title {
  background-color: var(--main-color);
  color: var(--secondary-color);
  padding: 1rem;
  margin: 0;
  text-align: center;
}

#contact-form label {
  display: flex;
  flex-wrap: wrap;
}

.error-text {
  border-radius: 3px;
  color: var(--accent-color);
  background-color: var(-second-accent-color);
  width: fit-content;
  font-size: 15px;
  margin: 0 20px;
  padding: 3px;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s;
    -webkit-text-fill-color: var(--main-color) !important;
}

footer {
  background-color: var(--secondary-color);
  color: var(--accent-color);
  clear: both;
  position: relative;
  height: 5rem;
  margin-top: -5rem;
  margin-bottom: 0;
  text-align: center;
}
.mb-5, .my-5 {
  margin-bottom: 0!important;
}

.icon {
  margin: 1rem 2rem;
}

@keyframes showTopText {
  0% { transform: translate3d(0, 100%, 0); }
  40%, 60% { transform: translate3d(0, 50%, 0); }
  100% { transform: translate3d(0, 0, 0); }
}
@keyframes showBottomText {
  0% { transform: translate3d(0, -100%, 0); }
  100% { transform: translate3d(0, 0, 0); }
}
.animated-title {
  color: var(--secondary-color);
  height: 50vmin;
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 50vmin;
  margin-bottom: 10vmin;
}
.animated-title > div {
  height: 50%;
  overflow: hidden;
  position: absolute;
  width: 100%;
}
.animated-title > div div {
  font-size: 4vmin;
  padding: 2vmin 0;
  position: absolute;
}
.animated-title > div div span {
  display: block;
}
.animated-title > div.text-top {
  border-bottom: 1vmin solid var(--main-color);
  top: 0;
}
.animated-title > div.text-top div {
  animation: showTopText 1s;
  animation-delay: 0.5s;
  animation-fill-mode: forwards;
  bottom: 0;
  transform: translate(0, 100%);
}
.animated-title > div.text-top div span:first-child {
  color: var(--accent-color);
}
.animated-title > div.text-bottom {
  bottom: 0;
}
.animated-title > div.text-bottom div {
  animation: showBottomText 0.5s;
  animation-delay: 1.75s;
  animation-fill-mode: forwards;
  top: 0;
  transform: translate(0, -100%);
}

.text span {
  margin: 10px;
  font-size: 13px;
}

.tooltip {
  position: relative;
  opacity: 1;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: var(--accent-color);
  color: var(--secondary-color);
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -60px;
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

.project {
  position: relative;
  overflow: hidden;
  margin: 1rem;
  width: 350px;
  height: 250px;
}

.project-img {
  width: 100%;
  height: 100%;
  opacity: 1;
  display: block;
  transition: .5s ease;
}

.project:hover .project-img{
  opacity: 0.75;
}

.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: var(--main-color);
  overflow: hidden;
  width: 0;
  height: 100%;
  transition: .5s ease;
  opacity: 0.9;
}

.project:hover .overlay {
  width: 100%;
  cursor: pointer;
}

.project-title {
  text-align: center;
}

.project-title span {
  display: block;
}

.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  white-space: nowrap;
}

.resume-dl {
  text-align: center;
  width: 50%;
  margin: auto;
  color: var(--secondary-color);
}

.resume-dl .btn {
  background-color: var(--second-accent-color);
  padding: 10px 20px;
  border-radius: 3px;
  color: var(--accent-color);
  text-decoration: none;
  font-weight: bold;
  margin: 1rem;
  border: none;
}

.resume-dl .btn:hover {
  color: var(--second-accent-color);
  background-color: var(--accent-color);
}

.resume-container {
  color: var(--secondary-color);
}

.resume-container .row:first-child .resume-section{
  margin: 1rem 0;
}

.resume-section {
  font-weight: bolder;
  font-size: 28px;
  border-bottom: 3px var(--main-color) solid;
  width: fit-content;
  margin: 1rem auto;
}

.resume-subtitle {
  font-weight: bold;
  font-size: 20px;
}

.education h5 {
  font-weight: bolder;
}


.contact-info a {
  color: var(--second-accent-color);
  display: block;
  font-size: larger;
  padding: 5px;
}

.contact-info a:hover {
  color: var(--accent-color);
}

.list-group-item {
  background-color: transparent;
}

.card {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid var(--secondary-color);
  width: 100%;
}

.card:last-child {
  border-bottom: none;
}

.company-title {
  font-weight: bold;
}

.project-lang {
  display: flex;
}

.resume-container .card-link {
  color: var(--second-accent-color);
  float: right;
  font-size: large;
}

.resume-container .card-link span {
  padding: 0 1.5rem;
}

.resume-container .card-link span:hover {
  color: var(--accent-color);
}

@media only screen and (max-width: 600px) {
  .mt-5, .my-5 {
    margin-top: 10rem;
  }

  #about {
    margin-top: -10vmin;
  }

  .nav-link {
    font-size: 20px;
  }

  #contact-form button {
    height: 8vmin;
  }

  .modal-desc {
    min-height: 450px;
  }

  .flex-container section {
    margin: auto;
  }
}